@use "./colors" as *;

* {
  margin: 0;
  padding: 0;
  background-color: $mainColor;
  font-family: "Crimson Pro", serif;
}

.dark-section {
  background-color: $dark;
}

.bg-color {
  background-color: $dark;
}

nav {
  background-color: $dark;
  text-transform: uppercase;
  color: $lightColor;
  z-index: 10;
  font-size: 26px;
  width: 100%;

  .container {
    background-color: $dark;
  }

  .navbar-brand {
    background-color: $dark;
  }

  .navbar-nav {
    background-color: $dark;
  }

  .nav-color {
    color: $lightColor;
  }

  img {
    width: 200px;
    background-color: $dark;
  }

  .logo-text {
    background-color: $dark;
    color: $lightColor;
    font-weight: bold;
    font-size: 30px;
  }

  .span-text {
    background-color: $dark;
    color: $spanColor;
  }

  .logo-text,
  .span-text {
    display: none;
  }

  i {
    background-color: $dark;
    color: $lightColor;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  nav {
    .navbar-brand {
      display: flex;
      align-items: center;
    }
    .logo-text,
    .span-text {
      display: block;
    }
  }
}

@media (min-width: 992px) {
  nav {
    font-size: 22px;

    .navbar-nav {
      font-size: 18px;
    }
  }
}
