@use "./colors" as *;

* {
  margin: 0;
  padding: 0;
  background-color: $lightColor;
  font-family: "Crimson Pro", serif;
}

// font-family: 'Cinzel', serif;

.navbar {
  background-color: $lightColor;
  font-size: 30px;

  .navbar-brand {
    text-decoration: none;
    display: contents;

    .nav-logo {
      width: 150px;
      height: 200px;
    }

    .logo-text {
      color: $dark;
      font-size: 30px;

      .span-text {
        color: $mainColor;
        font-weight: 700;
      }
    }
  }
}

.button-color {
  background-image: $buttonColor;
  width: 300px;
  height: 400px;
}

.section-color {
  background: $sectionColor;
}
